body {
    display: flex;
}

#flex {
    display: flex;
    flex-wrap: wrap;
    width: 102px;
    height: 100%;
    border: 3px solid black;
    margin-right: 4px;
}

#image {
    display: flex;
    flex-wrap: wrap;
    width: 102px;
    height: 100%;
    border: 3px solid black;
}

#flex > div {
    background-color: gray;
    width: 30px;
    height: 30px;
    margin: 2px;
}
